<h3>予約内容の確認</h3>
<%= form_with model: @reservation do |f| %>
<table>
  <tr>
    <th>チェックイン</th>
    <td><%= @reservation.checkin %></td>
  </tr>

  <tr>
    <th>チェックアウト</th>
    <td><%= @reservation.checkout %></td>
  </tr>

  <tr>
    <th>日数</th>
    <td><%= @reservation.total_day %>日</td>
  </tr>

  <tr>
    <th>人数</th>
    <td><%= @reservation.guest %>人</td>
  </tr>

  <tr>
    <th>お支払い金額</th>
    <td>¥<%= @reservation.total_price %></td>
  </tr>
</table>

<%= f.hidden_field :checkin %>
<%= f.hidden_field :checkout %>
<%= f.hidden_field :guest %>
<%= f.hidden_field :user_id %>
<%= f.hidden_field :room_id %>

  <div class="actions">
    <%= f.submit '予約する' %>
  </div>
  <div class="actions">
    <%= link_to "戻る", :back %>
  </div>
<% end %>